<div class="container">
    <div class="wrapper">
        <h1 class="text-gradient">Warehouse</h1>
        <app-zones></app-zones>
        
        <div class="w1 mt-30">
            <img src="assets/images/img1.jpg" width="325" alt="Warehouse" />
        </div>
        <div class="w2 mt-30">
            <img src="assets/images/img2.jpg" width="325" alt="Warehouse" />
        </div>
  
        <!-- Paths -->
        <div class="path p1 radius-r"></div>
        <div class="path p2 horizontal"></div>
        <div class="path p3 horizontal"></div>
        <div class="path p4 radius-l horizontal"></div>
        <div class="path p5"></div>
  
    </div>
  </div>
